html {
  font-family: Helvetica;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}

.titlepic {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.subheader {
  color: white;
  font-size: 32px;
}

.sb1{
  background-color: MediumSpringGreen;
}

.sb2 {
  background-color: LightCoral;
}

.sb3 {
  background-color: skyblue;
}

.divider {
  background-color: #EEEEEE;
}

.pragraphblue {
  color: blue;
}

.bluetext {
  color: blue;
}
